/* General settings */
html, body {
  font: 100% arial,sans-serif;
  margin: 0;
  -webkit-text-size-adjust: 100%; /* prevent scaling in landscape modus */
}

/* Include padding and border in total width */
body * {
  box-sizing: border-box;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #d1d1d1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: rgb(20,89,153);
}

.header .logo {
  flex: 0;
  margin: auto;
  padding-left: 5px;
}

.header .title {
  flex: 1;
  margin: auto;
  font-weight: bold;
}

.header .menu {
  flex: 0;  
  margin: auto;
  display: none;
  font-size: 1.7em;
  padding-right: 10px;
}

.links { 
  margin-top: 30px; 
  z-index: 1;
}

.links a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.links a:hover {
  background-color: #555;
  color: white;
}

.links .current {
  background-color: #bbb;
}

.social {
  margin: 10px 0px 0px 10px; 
}

.social a {
  display: inline;
  color: black;
  padding: 6px;
  font-weight: bold;
}

.picture {
  border-radius: 50%;
  width: 30px;
  vertical-align: middle;
}

.content {
  margin-left: 200px;
  padding: 1px 16px;
  background-color: #f1f1f1;  
  min-height: 100vh;
}

.content h3,h4 {
  max-width: 600px;
  margin-bottom: 5px;
}

.content p {
  max-width: 600px;
  margin: 5px;
}

.content ul {
  max-width: 600px;
  margin: 5px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
}

/*.boxes:after {
  content: "";
  display: table;
  clear: both;
}*/

.box-item {
  background-color: white;
  float: left;
  margin: 20px;
  padding: 10px; 
  max-width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-item:hover {
  cursor: pointer;
  padding: 9px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content > img {max-width: 400px;}

.command {
  background: black;
  color: #ccc;
  font-family: monospace;  
  line-height: 2;
  margin: 5px;
  max-width: 400px;
}

@media screen and (max-width: 700px) {
  .sidebar { width: 100%; position: relative; }
  .links { display: none; }
  .sidebar:hover .links { display: block; }
  .header img {height: 40px; }
  .header { flex-direction: row; height: 50px; }
  .header .menu { display: block; }
  .content { margin-left: 0; }
  .content > img {max-width: 250px;}
  .box-item { max-width: 220px; width: 75vw; }
}
